@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', 'Poppins', sans-serif;
  background-color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Selection color */
::selection {
  background-color: #394931;
  color: #E1DBCB;
}

